
body {
    font-family: "MicrogrammaDEEBolExt";
}

#calc {
    display: block;
    box-sizing: border-box;
    width: 60%;
    margin: auto 20%;
    border: 1px solid red;
    border-radius: 3%;
    padding: 8px;
    background-color: rgb(168, 34, 63)
    
}

#display {
    display: inline-block;
    margin: 0% 2% 10px;
    padding: 0.5%;
    min-height: 48px;
    height: 30%;
    width: 92%;
    border: 4px darkgray;
    border-style:inset;
    background-color: black;
    color:#cc4312;
    text-align: right;
    vertical-align: middle;
    font-family: "Segment7Standard";
    font-size: 3em;
}

#controls {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    margin: 0.1% 2%;
}

#controls button {
    width: 48px;
    flex: 0 1 1;
    align-items: center;
    margin: 0.2em 0;
    background-color: slategray;
    border-radius: 6px;
    border-color: gray;
    border-style: outset;
    font-family: inherit;
}

#pads {
    display: flex;
    margin: 0 2%;
    justify-content: space-evenly;
    gap: 0.2%;
}

#numpad {
    display: block;
    box-sizing: border-box;
    width: 40%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 0.5px dotted gray;
}

.numrow {
    display: flex;
    justify-content: space-evenly;
}

.numbutton {
    background-color: #faebe6;
    border: 2px outset rgb(235, 208, 208);
    border-radius: 20%;
    padding: 10%;
    margin: 3px;
}

#oppad {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0.2%;
    min-width: 15%;
}

.opbutton {
    border: 2px outset darkslategray;
    border-radius: 8px;
    padding: 10%;
    margin: 3px;
    background-color: slategray;
    color:blanchedalmond;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-weight: bold;
}

.result {
    min-height: 4em;
    padding: 10% 0;
}